.panel.panel-primary
  .panel-heading
    %h3.panel-title Account Details
  .panel-body
    %table.colorit.w-100p
      %tr
        %th Owner
        %td= @account.owner
      %tr
        %th Number
        %td= @account.account_number
      %tr
        %th Bank
        %td
          = @account.bank.figo_bank_name || @account.bank.iban_bank_name
          - if url = @account.bank.login_url
            %a{"data-icon" => "link-external",:href => url,:target => "_blank"}
      %tr
        %th IBAN
        %td
          - if @account.is_service?
            = @account.iban
          - else
            = @account.iban_obj.prettify
      %tr
        %th Balance
        %td
          = currency(@account.last_known_balance, :unit => @account.currency)
      %tr
        %th Actions
        %td
          = haml :"_account_actions", :locals => { :account => @account }
