%section.bgc-grey.fxg-1.d-fx.fxjc-c
  .fxg-1.d-fx.fxw-nw.fxjc-s.fxac-s.max-w-1000px.fxd-v
    .w-100p.h-400px.m-5px.bs-1.brad-2px.bgc-white.p-5px.o-a
      %table.colorit.w-100p
        %thead
          %tr
            %th Owner
            %th Account Number
            %th Bank Code
            %th Iban
            %th.txa-r Balance
        %tbody
          - @accounts.each do |account|
            %tr
              %td= account.owner
              %td
                %a{:href => "/transactions/#{account.account_id}"}= account.account_number
              %td= account.bank_code
              %td= account.iban
              %td.txa-r.ws-nw= currency(account.balance.balance, :unit => account.currency)
