!!!
%html
  %head
    %title Deutsche Bonit채t
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/stylesheets/normalize.css?#{rand}", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/sandbox.css?#{rand}", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/icons.css?#{rand}", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/app.css?#{rand}", :rel => "stylesheet", :type => "text/css"}/
    :css
      .decorated-link:hover {
          text-decoration:underline;
      }
    %script{ :src => "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" }
  %body.grid.d-fx.fxd-v.bgc-grey
    %header.bgc-light-blue.d-fx.fxw-w.fxjc-c.min-h-120px.max-w-100p
      .fxg-1.pt-10px.pl-30px.pr-30px.fxai-c.d-fx.fxd-v.c-tan.max-w-500px
        .brad-100p.bgc-tan.c-white.w-60px.h-60px.bs-1.fsz-50px.d-fx.fxai-c.fxjc-c{"data-icon" => "euro"}
        .fsz-20px.p-10px.fw-600.c-black.brt-1px.mt-5px Deutsche Bonit채t
      .fxg-3.d-fx.fxd-v.max-w-1000px
        .d-fx.fxai-c.fxw-w.fxjc-c.fxg-1.mt-30px
          .fxg-1.d-fx.fxai-c.p-10px.fxjc-sa.fsz-16px.fw-600
            %form{ :action => "/search", :method => "post" }
              %label.d-fx.brb-1px.fxai-c.fxg-1.ml-20px.mr-20px.w-600px
                %input.fxg-1.br-n.bgc-light-blue{:placeholder => "Search", :type => "text", :name => :term }/
                %div{"data-icon" => "search7"}
              %input.hide{ :type => :submit }
        %nav.d-fx.fxjc-sb.p-20px.fxw-w.fsz-20px
          %a.fxg-1.fxai-c.d-fx.fxd-v.brr-1px.min-w-100px{ :href => "/accounts" } Konten
          %a.fxg-1.fxai-c.d-fx.fxd-v.brr-1px.min-w-100px{ :href => "/rating" } Bonit채t
    = yield

    %footer.bgc-black.min-h-40px.d-fx.fxai-c.lh-15px.fsz-12px.p-10px.max-w-100p
      %a.fxai-c.d-fx.fxd-v.brr-1px.c-white.pr-10px.decorated-link{ :href => "/aboutus" } About Us
      %a.fxai-c.d-fx.fxd-v.brr-1px.c-white.pl-10px.pr-10px.ws-nw.decorated-link{ :href => "/sitemap" } Sitemap
      %a.fxai-c.d-fx.fxd-v.brr-1px.c-white.pl-10px.pr-10px.ws-nw.decorated-link{ :href => "/contact" } Contact Us
      %a.fxai-c.d-fx.fxd-v.brr-1px.c-white.pl-10px.pr-10px.ws-nw.decorated-link{ :href => "/login" } Login

      .d-fx.fxai-c.p-10px
        %a.m-5px.brad-100p.bgc-white-transparent-30p.d-fx.fxai-c.fxjc-c.c-white.w-25px.h-25px.bs-1{"data-icon" => "facebook4"}
        %a.m-5px.brad-100p.bgc-white-transparent-30p.d-fx.fxai-c.fxjc-c.c-white.w-25px.h-25px.bs-1{"data-icon" => "twitter"}
        %a.m-5px.brad-100p.bgc-white-transparent-30p.d-fx.fxai-c.fxjc-c.c-white.w-25px.h-25px.bs-1{"data-icon" => "linkedin2"}
        %a.m-5px.brad-100p.bgc-white-transparent-30p.d-fx.fxai-c.fxjc-c.c-white.w-25px.h-25px.bs-1{"data-icon" => "rss"}
      %a.fxai-c.d-fx.fxd-v.brr-1px.c-white.pr-10px.ml-a.ws-nw.decorated-link Privacy Statement
      %a.fxai-c.d-fx.fxd-v.c-white.pl-10px Copyright 2017 Deutsche Bonit채t. All rights reserved.
