= haml :"_js_graph"

.panel.panel-primary
  .panel-heading
    %h3.panel-title Geprüfter Bonität
  .panel-body
    Rating for
    = @user.name
    is
    = @user.rating.score

= haml :"_graph_panel", :locals => {:title=>"Bonitätsverlauf", :id=>"chart1" }

:javascript
  $(document).ready(function(){
    graphit('#chart1', "/api/rating/#{params[:eid]}.json");
  });
