- total_score = 0
.panel.panel-primary
  .panel-heading
    %h3.panel-title Bonität
  .panel-body
    - if @user.accounts.size == 0
      No Accounts, No Credit Rating.
      %a{ :href => "/add_account" } Add An Account.
    - else
      %center
        %span#badge
          %a{ :href => "/rating/#{@user.external_id}" }
            %img{ :height => "40px", :src => "/button/#{@user.external_id}.svg" }
        %button#ccbtn.btn.btn-warning{"data-clipboard-target" => "#badge", "data-icon" => "copy", :title => "Copy Button Code"}

      :javascript
        $(document).ready(function(){
          var clipboard = new Clipboard('.btn',{
            text: function(trigger) {
              return $('#badge').html();
            }
          });

          clipboard.on('success', function(e) {
            $('#ccbtn').css("background-color", "#58dc6e");
            e.clearSelection();
          });
        });

      %table.w-100p.colorit
        %thead
          %tr
            %th.txa-l Factor
            %th.txa-c Value
            %th.txa-c Score
        %tbody
          - RatingFactors.each do |_,factor|
            - val = factor[:proc].call(@user)
            - total_score += val.last
            %tr
              %td
                %span{:tooltip => factor[:desc] }= factor[:name]
              %td.txa-c= format_rating_value(val.first)
              %td.txa-c{:class => val.last < 0 ? "c-red" : "c-green"}= val.last
          %tr
            %td.fw-900 Total Score
            %td
            %td.txa-c{:class => total_score < 0 ? "c-red" : "c-green"}= total_score
