= haml :"_js_graph"

= haml :"_account_panel"

= haml :"_graph_panel", :locals => {:title => "Outgoing, Ingoing and Totals", :id => "chart1" }
= haml :"_graph_panel", :locals => {:title => "ATMs", :id => "chart2" }
= haml :"_graph_panel", :locals => {:title => "Rent", :id => "chart3" }
= haml :"_graph_panel", :locals => {:title => "Electric", :id => "chart4" }

:javascript
  $(document).ready(function(){
    graphit('#chart1', "/api/account/none/#{@account.id}.json");
    graphit('#chart2', "/api/account/atm/#{@account.id}.json");
    graphit('#chart3', "/api/account/rent/#{@account.id}.json");
    graphit('#chart4', "/api/account/electric/#{@account.id}.json");
  });
